<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rest Api website">
    <meta name="author" content="Cipher">
    <meta property="og:image" content="https://i.pinimg.com/originals/b1/46/bd/b146bd3a41f151ae853d7aaa828eb175.jpg">
    <title>Alpha API │ Wiki</title>
    <script src="https://kit.fontawesome.com/5367cb78eb.js" crossorigin="anonymous"></script>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/default.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
</head>

<body id="page-top" class="dark-mode">
    <div id="wrapper">
   
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/docs">
                <img src="images/icon.png" class="rounded-circle shadow-4"style="width: 50px;" alt="Avatar" />
                <div class="sidebar-brand-text mx-3">Alpha's API</div>
            </a>
            
            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                profile
            </div>
            <li class="nav-item active">
                <a class="nav-link" >
                    <span>Username: visitor<br></span>
                    <span class="h5 mb-0 font-weight-bold">Verified✔️<br></span>

                </a>

            <div class="sidebar-heading">
                Features
            </div>
            <br>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDownload" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="fa fa-fw fa-arrow-down"></i>
                    <span>Downloader</span>
                </a>
                <div id="collapseDownload" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Downloader Features</h6>
                        <a class="collapse-item" href="api/dowloader/fbdown?url=https://www.facebook.com/UstazAzharIdrusFansClub/videos/813224618838631&apikey=alpha-free" target="_blank">Facebook</a>
                        <a class="collapse-item" href="api/dowloader/twitter?url=https://twitter.com/faqeeyaaz/status/1242789155173617664?s=20&t=DRgdl9U8MwTwpY0o1o-96g&apikey=alpha-free" target="_blank">Twitter</a>
                        <a class="collapse-item" href="api/dowloader/tikok?url=https://www.tiktok.com/@oktober_.0/video/7253991864200645894&apikey=alpha-free" target="_blank">Tiktok Slide Photo</a>
                        <a class="collapse-item" href="api/dowloader/tikok?url=https://www.tiktok.com/@alipje29/video/7090119331685682458&apikey=alpha-free" target="_blank">Tiktok Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/igstorydowloader?username=solozsoloz&apikey=alpha-free" target="_blank">Instagram Story</a>
                        <a class="collapse-item" href="api/dowloader/igdowloader?url=https://www.instagram.com/reel/Cmq_dx9hbw0/&apikey=alpha-free" target="_blank">Instagram Reel</a>
                        <a class="collapse-item" href="api/dowloader/igdowloader?url=https://www.instagram.com/p/Ci2NrMss2hB/&apikey=alpha-free" target="_blank">Instagram Image Video</a>
                        <a class="collapse-item" href="api/dowloader/yt?url=https://youtu.be/3hXbjp-FcTc&apikey=alpha-free" target="_blank">Youtube Mp4 Mp3</a>
                        <a class="collapse-item" href="api/dowloader/soundcloud?url=https://soundcloud.com/ndaa-212683099/dj-coba-kau-ingat-ingat-kembali-seharusnya-aku-jungle-dutch-terbaru-2021-full-bass-viral-tik?utm_source=clipboard&utm_medium=text&utm_campaign=social_sharing&apikey=alpha-free" target="_blank">SoundCloud</a>
                        <a class="collapse-item" href="api/dowloader/mediafire?url=https://www.mediafire.com/file/gpeiucmm1xo6ln0/hello_world.mp4/file&apikey=alpha-free" target="_blank">MediaFire</a>
                        <a class="collapse-item" href="api/dowloader/zippyshare?url=https://www42.zippyshare.com/v/RLxFmmyZ/file.html&apikey=alpha-free" target="_blank">Zippyshare</a>
                        <a class="collapse-item" href="api/dowloader/telesticker?url=https://t.me/addstickers/Shitsshitsshitsshists&apikey=alpha-free" target="_blank">Telegram Sticker</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTextPro" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Text Pro</span>
                </a>
                <div id="collapseTextPro" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Text Pro Features</h6>
                        <a class="collapse-item" href="api/textpro/pencil?text=Cipher&apikey=alpha-free" target="_blank">Pencils</a>
                        <a class="collapse-item" href="api/textpro/glitch?text=Cipher&apikey=alpha-free" target="_blank">Glitch</a>
                        <a class="collapse-item" href="api/textpro/slicedtxt?text=Cipher&apikey=alpha-free" target="_blank">sliced text</a>
                        <a class="collapse-item" href="api/textpro/batman?text=Cipher&apikey=alpha-free" target="_blank">Batman</a>
                        <a class="collapse-item" href="api/textpro/neon-blackpink?text=Cipher&apikey=alpha-free" target="_blank">Neon Blackpink</a>
                        <a class="collapse-item" href="api/textpro/shadow?text=Cipher&apikey=alpha-free" target="_blank">Shadow</a>
                        <a class="collapse-item" href="api/textpro/berry?text=Cipher&apikey=alpha-free" target="_blank">Berry</a>
                        <a class="collapse-item" href="api/textpro/blackpink?text=Cipher&apikey=alpha-free" target="_blank">Black pink</a>
                        <a class="collapse-item" href="api/textpro/neon?text=Cipher&apikey=alpha-free" target="_blank">Neon</a>
                        <a class="collapse-item" href="api/textpro/logobear?text=Cipher&apikey=alpha-free" target="_blank">Logo Bear</a>
                        <a class="collapse-item" href="api/textpro/3dchristmas?text=Cipher&apikey=alpha-free" target="_blank">3D Christmas</a>
                        <a class="collapse-item" href="api/textpro/thunder?text=Cipher&apikey=alpha-free" target="_blank">Thunder</a>
                        <a class="collapse-item" href="api/textpro/3dboxtext?text=Cipher&apikey=alpha-free" target="_blank">3D Box</a>
                        <a class="collapse-item" href="api/textpro/glitchtiktok?text=Cipher&text2=Alpha-md&apikey=alpha-free" target="_blank">Glitch Tiktok</a>
                        <a class="collapse-item" href="api/textpro/video-game-classic?text=Cipher&text2=Alpha-md&apikey=alpha-free" target="_blank">Video Game Classic</a>
                        <a class="collapse-item" href="api/textpro/marvel-studios?text=Cipher&text2=Alpha-md&apikey=alpha-free" target="_blank">Marvel Studios</a>
                        <a class="collapse-item" href="api/textpro/ninja-logo?text=Cipher&text2=Alpha-md&apikey=alpha-free" target="_blank">Ninja Logo</a>
                        <a class="collapse-item" href="api/textpro/transformer?text=Cipher&apikey=alpha-free" target="_blank">Transformer</a>
                        <a class="collapse-item" href="api/textpro/green-horror?text=Cipher&apikey=alpha-free" target="_blank">Green Horrorer</a>
                        <a class="collapse-item" href="api/textpro/magma?text=Cipher&apikey=alpha-free" target="_blank">Magma</a>
                        <a class="collapse-item" href="api/textpro/3d-neon-light?text=Cipher&apikey=alpha-free" target="_blank">3d Neon Light</a>
                        <a class="collapse-item" href="api/textpro/3d-orange-juice?text=Cipher&apikey=alpha-free" target="_blank">3d Orange Juice</a>
                        <a class="collapse-item" href="api/textpro/chocolate-cake?text=Cipher&apikey=alpha-free" target="_blank">Chocolate Cake</a>
                        <a class="collapse-item" href="api/textpro/strawberry?text=Cipher&apikey=alpha-free" target="_blank">Strawberry</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhotooxy" aria-expanded="true" aria-controls="collapseForm">
                    <i class="fa fa-fw fa-font"></i>
                    <span>Photooxy</span>
                </a>
                <div id="collapsePhotooxy" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Photooxy Features</h6>
                        <a class="collapse-item" href="api/photooxy/flaming?text=Cipher&apikey=alpha-free" target="_blank">Flaming</a>
                        <a class="collapse-item" href="api/photooxy/shadow-sky?text=Cipher&apikey=alpha-free" target="_blank">Shadow Sky</a>
                        <a class="collapse-item" href="api/photooxy/metallic?text=Cipher&apikey=alpha-free" target="_blank">Metallic</a>
                        <a class="collapse-item" href="api/photooxy/naruto?text=Cipher&apikey=alpha-free" target="_blank">Naruto</a>
                        <a class="collapse-item" href="api/photooxy/pubg?text=Pubg&text2=Cipher&apikey=alpha-free" target="_blank">PUBG</a>
                        <a class="collapse-item" href="api/photooxy/under-grass?text=Cipher&apikey=alpha-free" target="_blank">Under Grass</a>
                        <a class="collapse-item" href="api/photooxy/harry-potter?text=Cipher&apikey=alpha-free" target="_blank">Harry Potter</a>
                        <a class="collapse-item" href="api/photooxy/flower-typography?text=Cipher&apikey=alpha-free" target="_blank">Flower Typography</a>
                        <a class="collapse-item" href="api/photooxy/picture-of-love?text=Cipher&apikey=alpha-free" target="_blank">Picture Of Love</a>
                        <a class="collapse-item" href="api/photooxy/coffee-cup?text=Cipher&apikey=alpha-free" target="_blank">Coffee Cup</a>
                        <a class="collapse-item" href="api/photooxy/butterfly?text=Cipher&apikey=alpha-free" target="_blank">Butterfly</a>
                        <a class="collapse-item" href="api/photooxy/night-sky?text=Cipher&apikey=alpha-free" target="_blank">Night Sky</a>
                        <a class="collapse-item" href="api/photooxy/carved-wood?text=Cipher&apikey=alpha-free" target="_blank">Carved Wood</a>
                        <a class="collapse-item" href="api/photooxy/illuminated-metallic?text=Cipher&apikey=alpha-free" target="_blank">Illuminated Metallic</a>
                        <a class="collapse-item" href="api/photooxy/sweet-candy?text=Cipher&apikey=alpha-free" target="_blank">Sweet Candy</a>
                    </div>
                </div>
            </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseRandomText" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-music"></i>
                        <span>Text To Speech</span>
                    </a>
                    <div id="collapseRandomText" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Language</h6>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=id-ID&apikey=alpha-free">Indonesian</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=en-US&apikey=alpha-free">English (United States)</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=ja-JP&apikey=alpha-free">Japanese (Japan)</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=fr-FR&apikey=alpha-free">French</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=fil-PH&apikey=alpha-free">Filipino</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=my&apikey=alpha-free">Burmese (Myanmar)</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=de-DE&apikey=alpha-free">German</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=it-IT&apikey=alpha-free">	Italian</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=jko-KR&apikey=alpha-free">Korean</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=th-TH&apikey=alpha-free">Thai</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=hi-IN&apikey=alpha-free">Hindi</a>
                            <a class="collapse-item" target="_blank" href="api/tts?text=hi&lang=ru-RU&apikey=alpha-free">Russian</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseserch" aria-expanded="true" aria-controls="collapseTable">
                        <i class="fa fa-fw fa-search"></i>
                        <span>Search</span>
                    </a>
                    <div id="collapseserch" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                        <div class="py-2 collapse-inner rounded">
                            <h6 class="collapse-header">Search Features</h6>
                            <a class="collapse-item" href="api/search/ytplay?text=lagu%dj&apikey=alpha-free" target="_blank">Yt Play</a>
                            <a class="collapse-item" href="api/search/pinterest?text=alpha from eminence in shadow&apikey=alpha-free" target="_blank">Pinterest</a>
                            <a class="collapse-item" href="api/search/ringtone?text=samsung&apikey=alpha-free" target="_blank">Ringtone</a>
                            <a class="collapse-item" href="api/search/wikimedia?text=Malaysia&apikey=alpha-free" target="_blank">Wikimedia</a>
                            <a class="collapse-item" href="api/search/google?text=Mobile%20Legends&apikey=alpha-free" target="_blank">Google</a>
                            <a class="collapse-item" href="api/search/googleimage?text=Mobile%20Legends&apikey=alpha-free" target="_blank">Google Image</a>
                            <a class="collapse-item" href="api/search/wallpaper?text=Mobile%20Legends&apikey=alpha-free" target="_blank">Wallpaper</a>
                            <a class="collapse-item" href="api/search/sticker?text=fun&apikey=alpha-free" target="_blank">Sticker</a>
                            <a class="collapse-item" href="api/search/wattpad?query=love is war&apikey=alpha-free" target="_blank">wattpad</a>
                    
                        </div>
                    </div>
                </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapserandomimage" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-tv"></i>
                    <span>Anime</span>
                </a>
                <div id="collapserandomimage" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Anime Features</h6>
                        <a class="collapse-item" href="api/anime/animequote?apikey=alpha-free" target="_blank">Anime Quote</a>
                   </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsegame" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-gamepad"></i>
                    <span>Game</span>
                </a>
                <div id="collapsegame" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Game Features</h6>
            <a class="collapse-item" target="_blank" href="api/game/maths?difficulty=easy&apikey=alpha-free">Maths</a>
            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMaker" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-paint-brush"></i>
                    <span>Maker</span>
                </a>
                <div id="collapseMaker" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Image Manipulation</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/circle?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Circle</a>
                        <a class="collapse-item" target="_blank" href="api/maker/beautiful?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Beautiful</a>
                        <a class="collapse-item" target="_blank" href="api/maker/blur?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Blur</a>
                        <a class="collapse-item" target="_blank" href="api/maker/darkness?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&no=50&apikey=alpha-free">Darkness</a>
                        <a class="collapse-item" target="_blank" href="api/maker/facepalm?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Facepalm</a>
                        <a class="collapse-item" target="_blank" href="api/maker/invert?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Invert</a>
                        <a class="collapse-item" target="_blank" href="api/maker/pixelate?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&no=10&apikey=alpha-free">Pixelate</a>
                        <a class="collapse-item" target="_blank" href="api/maker/rainbow?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Rainbow</a>
                        <a class="collapse-item" target="_blank" href="api/maker/resize?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&width=100&height=100&apikey=alpha-free">Resize</a>
                        <a class="collapse-item" target="_blank" href="api/maker/trigger?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Trigger</a>
                        <a class="collapse-item" target="_blank" href="api/maker/wanted?url=https://i.pinimg.com/564x/b8/a8/e2/b8a8e281f1a3113630671742b5677c15.jpg&apikey=alpha-free">Wanted</a>
                        <h6 class="collapse-header">Maker Other</h6>
                        <a class="collapse-item" target="_blank" href="api/maker/attp?text=Cipher&apikey=alpha-free">ATTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/facts?text=Cipher&apikey=alpha-free">facts</a>
                        <a class="collapse-item" target="_blank" href="api/maker/biden?text=Cipher&apikey=alpha-free">biden</a>
                        <a class="collapse-item" target="_blank" href="api/maker/drake?text=Cipher&text2=adiwajshing&apikey=alpha-free">Drake</a>
                        <a class="collapse-item" target="_blank" href="api/maker/ttp?text=Cipher&apikey=alpha-free">TTP</a>
                        <a class="collapse-item" target="_blank" href="api/maker/emojimix?emoji1=😂&emoji2=🤢&apikey=alpha-free">Emojimix</a>
                        <a class="collapse-item" target="_blank" href="api/maker/welcome1?name=Cipher&gpname=Groupname&member=1&pp=https://i.pinimg.com/originals/b1/46/bd/b146bd3a41f151ae853d7aaa828eb175.jpg&bg=https://telegra.ph/file/fea867e29574ad52c3660.jpg&apikey=alpha-free">Welcome1</a>
                        <a class="collapse-item" target="_blank" href="api/maker/goodbye1?name=Cipher&gpname=Groupname&member=1&pp=https://i.pinimg.com/originals/b1/46/bd/b146bd3a41f151ae853d7aaa828eb175.jpg&bg=https://telegra.ph/file/fea867e29574ad52c3660.jpg&apikey=alpha-free">GoodBye1</a>
            </div>
                </div>
            </li>

            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselink" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-link"></i>
                    <span>Link Shortner</span>
                </a>     
                <div id="collapselink" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Link Short</h6>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurl?link=https://api.alpha-md.rf.gd/&apikey=alpha-free">Tinyurl</a>
                        <a class="collapse-item" target="_blank" href="/api/linkshort/alpha/create?url=https://api.alpha-md.rf.gd/&apikey=alpha-free">alphaapi</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/tinyurlwithalias?link=https://api.alpha-md.rf.gd/&alias=alphaapi&apikey=alpha-free">Tinyurl With Alias</a>
                        <a class="collapse-item" target="_blank" href="/api/linkshort/alpha/custom?url=https://api.alpha-md.rf.gd/&customId=alphaapi&apikey=alpha-free">alphaapi With Alias</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/cuttly?link=https://api.alpha-md.rf.gd/&apikey=alpha-free">Cuttly</a>
                        <a class="collapse-item" target="_blank" href="api/linkshort/bitly?link=https://api.alpha-md.rf.gd/&apikey=alpha-free">Bitly</a>

                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePrimbon" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fab fa-fw fa-acquisitions-incorporated"></i>
                    <span>Information</span>
                </a>
                <div id="collapsePrimbon" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Information Features</h6>
            <a class="collapse-item" target="_blank" href="api/info/githubstalk?user=CipherBot&apikey=alpha-free">Github Stalk</a>
            <a class="collapse-item" target="_blank" href="api/info/translate?text=Thank%20YOU%20Use%20REST%20Alpha's%20API&lang=ms&apikey=alpha-free">Translate</a>
            <a class="collapse-item" target="_blank" href="api/info/emoji?emoji=🗿&apikey=alpha-free">Emoji</a>


            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTools" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fa fa-wrench" aria-hidden="true"></i>
                    <span>Tools</span>
                </a>
                <div id="collapseTools" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Tools Features</h6>
            <a class="collapse-item" target="_blank" href="api/tools/ebase64?text=Alpha%20Api%20By%20Cipher&apikey=alpha-free">Ebase</a>
            <a class="collapse-item" target="_blank" href="api/tools/debase64?text=UmVzdCBBcGkgQnkgQWxpcA==&apikey=alpha-free">Debase</a>
            <a class="collapse-item" target="_blank" href="api/tools/ebinary?text=RestApiByCipher&apikey=alpha-free">Ebinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/debinary?text=01010010%2001100101%2001110011%2001110100%2001000001%2001110000%2001101001%2001000010%2001111001%2001000001%2001101100%2001101001%2001110000&apikey=alpha-free">Debinary</a>
            <a class="collapse-item" target="_blank" href="api/tools/ssweb?link=https://api.alpha-md.rf.gd/&apikey=alpha-free">SSWEB</a>
            <a class="collapse-item" target="_blank" href="api/tools/styletext?text=Cipher&apikey=alpha-free">Styletext</a>
                     <h6 class="collapse-header">Bible</h6>
            <a class="collapse-item" target="_blank" href="api/tools/verse-of-the-day?apikey=alpha-free">Verse Of The Day</a>
            <a class="collapse-item" target="_blank" href="api/tools/verse?book=Deuteronomy&chapter=3&verse=16&version=KJV&apikey=alpha-free">Any Verse</a>
            </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true" aria-controls="collapseTable">
                    <i class="fas fa-robot"></i>
                    <span>Ai</span>
                </a>
                <div id="collapseIslamic" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
                    <div class="py-2 collapse-inner rounded">
                        <h6 class="collapse-header">API </h6>
                        <a class="collapse-item" target="_blank" href="api/ai/gpt1?prompt=hello&apikey=alpha-free">gpt1</a>
                         <a class="collapse-item" target="_blank" href="api/ai/gpt2?prompt=hello&apikey=alpha-free">gpt2</a>
                        <a class="collapse-item" target="_blank" href="api/ai/imggen1?prompt=cat&apikey=alpha-free">imggen1</a> 
                        <h6 class="collapse-header">Character Ai</h6>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=rXLTGQ5ojO0gx2Uwv2EoD_prbT25bfu0hnlb_WC8sxk&message=hey there&apikey=alpha-free">Alpha</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=4WOVrCApi4JYwfYwU2e5eDeFalLOkGBw6IfUZPX1XVQ&message=hey there&apikey=alpha-free">Gojo</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=5mhs-itLvD620IWrWLamTb2_yoj4gnm-o_LTX5LPRNE&message=hey there&apikey=alpha-free">Itadori</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=Rt_VSucKURXkCuN_5vMYuSNtPSGtFaH4YCcx9_RSRj0&message=hey there&apikey=alpha-free">Nanami</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=eGPYvuu9WnIzP4gHbkgwe3cTtqwfnLi5QUNip_q8Le4&message=hey there&apikey=alpha-free">Makima</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=S8_UsiVkk-sly9Hrf8nGgk4YC2BV506dp6GRrAVLvQ4&message=hey there&apikey=alpha-free">Saitama</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=TT2Ac7tCK2jVT9PZKElYrBQVNAmTLC2BglvOap6R_04&message=hey there&apikey=alpha-free">Power</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=5xR5pGO-SNySTUY6jNIGm8zKDLzYJg-p9CUBa2QHi0s&message=hey there&apikey=alpha-free">Shadow Garden</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=FeJX2Cgn2Mnn_83b9QiJEbBLKh-f9C_n9hd9-2hliNs&message=hey there&apikey=alpha-free">Delta</a>
                       <a class="collapse-item" target="_blank" href="/api/ai/c-ai?characterid=VOsZJMVNKrWjZ5AC_U72HWD3lTyTcWhkGchhQU9EJxU&message=hey there&apikey=alpha-free">Cid Kageno</a>
                      </div>
                </div>

                <div class="sidebar-heading">
                    Contact
                </div>
                <br>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/Cipher0071">
                        <i class="fab fa-fw fa-github"></i>
                        <span>Github</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://t.me/Cipher0071">
                        <i class="fab fa-fw fa-telegram"></i>
                        <span>Telegram</span>
                    </a>
                </li>

                </li>

 
        </ul>
 
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
              
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
                    <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="/login">
                                <i class="fa-solid fa-right-from-bracket" > </i> 
                                <span class="text-sm-left mb-0 font-weight-bold"> Log In </span>
                                
                            </a>
                        </li>
                    </ul>
                </nav>
                    <div class="container-fluid" id="container-wrapper">
                        <div class="card h-50 mb-4">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-md-left font-weight-bold mb-2 text-primary">Alpha's api </div>
                                        <div class="text-sm-left mb-0 font-weight-bold">Hi there 👋, visitor Welcome to Alpha's Api</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-quote-right fa-2x text-primary"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mb-3"> 

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Visitors</div>
                                        <div class="h5 mb-0 font-weight-bold" id="visitor"><%= visitors %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-eye fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Today's Request</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= RequestToday %></div>
                                    </div>
                                    <div class="col-auto">
                                     <i class="fa fa-calendar-check-o fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Total Users</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= totalUsers %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-user fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Your Apikey</div>
                                        <div class="h5 mb-0 font-weight-bold" >alpha-free</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-key fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Total Requests</div>
                                        <div class="h5 mb-0 font-weight-bold" ><%= totalRequests %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa fa-handshake-o fa-2xl" ></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card h-50">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-uppercase mb-1">Time</div>
                                        <div class="h5 mb-0 font-weight-bold" id="row-no-guttersalign-items-center">00:00:00</div>

                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-calendar fa-2xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="findipurl"> <a href="find-ip.net" ></a></div>

            <script defer src="https://api.find-ip.net/widget.js?width=220&bg=%23181818&border=%23181818&textcol=%23d3d5f3&language=0&system=0&"></script>


                <div class="Box mt-4">
                    <div class="Box-body p-4">
                      <div class="d-flex flex-justify-between">
                        <div class="text-mono text-small mb-3">
                        </div>
                      </div>

                    <div class="row">
                        <div class="col-lg-12 text-center">
                            Contact Me
                            <p>
                                <a href="https://github.com/Cipher0071" class="btn btn-primary btn-sm mr-2" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;Github</a>
                                <a href="https://t.me/Cipher0071" class="btn btn-primary btn-sm ml-2" target="_blank"><i class="fab fa-fw fa-telegram"></i>&nbsp;Telegram</a>
                            </p>
                        </div>
                    </div>
                </div>
                
            </div>
             
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        Made with <i class="fa fa-heart"></i> by
                        <a href="https://github.com/Cipher0071" target="_blank" style="color: rgb(255, 234, 0);">Cipher</a>
                        </span>
                    </div>
                </div>
            </footer>
       
        </div>
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

          
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="js/ruang-admin.min.js"></script>
    <script src="js/menu.js"></script>
    

</body>

</html>
